In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("cost_revenue.csv")

In [5]:
data.head()

   production_budget_usd  worldwide_gross_usd
0                1000000                   26
1                  10000                  401
2                 400000                  423
3                 750000                  450
4                  10000                  527

In [6]:
data.mean()

production_budget_usd    3.290784e+07
worldwide_gross_usd      9.515685e+07
dtype: float64

In [7]:
data.max()

production_budget_usd     425000000
worldwide_gross_usd      2783918982
dtype: int64

In [8]:
data.describe()

       production_budget_usd  worldwide_gross_usd
count           5.034000e+03         5.034000e+03
mean            3.290784e+07         9.515685e+07
std             4.112589e+07         1.726012e+08
min             1.100000e+03         2.600000e+01
25%             6.000000e+06         7.000000e+06
50%             1.900000e+07         3.296202e+07
75%             4.200000e+07         1.034471e+08
max             4.250000e+08         2.783919e+09

In [9]:
data.std()

production_budget_usd    4.112589e+07
worldwide_gross_usd      1.726012e+08
dtype: float64

In [10]:
data.var()

production_budget_usd    1.691339e+15
worldwide_gross_usd      2.979118e+16
dtype: float64

In [11]:
data.mode()

   production_budget_usd  worldwide_gross_usd
0               20000000              8000000